@font-face {
  font-family: "inter";
  src: url("./FONTS/inter-variablefont_slntwght-webfont.woff2") format("woff2"),
    url("./FONTS/inter-variablefont_slntwght-webfont.woff") format("woff");
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

/* .hero-section {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: left;
  display: inline;
} */

/* .cent {
  margin-left: auto;
  margin-right: auto;
  max-width: 680px;
} */

.container {
  position: absolute;
  top: 10%;
  left: 2%;
  display: flex;
  align-items: center;
  max-width: 47%;
  display: inline-flex;
  justify-content: left;
  /* margin: 160px 0px 0px 60px; */
}

#greyText {
  font-family: "inter";
  text-align: left;
  padding: 10px;
  padding-left: 40px;
}

.main-text {
  font-family: "inter";
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 5px;
  margin-right: -70px;
  z-index: 1;
  position: relative;
}

.author {
  font-family: "inter";
  font-size: 27px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.health {
  font-family: "inter";
  color: rgba(60, 60, 67, 0.85);
}

.man {
  max-width: 50%;
}

.slider-container {
  position: absolute;
  max-width: 40%;
  height: 40%;
  margin: 0 auto;
  /* overflow: hidden; */
  max-height: 100%;
  right: 8.5%;
  top: 10%;
  display: flex;
  /* align-items: center; */
}
.man {
  content: url("IMGS/man.jpg");
  z-index: 0;
  position: relative;
}
.rightimg {
  position: relative;
  max-width: 50%;
  margin-left: 2%;
}
.leftimg {
  position: relative;
  max-width: 50%;
  margin-left: -2%;
}
.rarow {
  position: absolute;
  max-width: 50%;
  padding: 20px;
  background-color: #fff;
  top: 92%;
  left: 60%;
}
.larow {
  position: absolute;
  max-width: 50%;
  padding: 20px;
  background-color: #fff;
  top: 92%;
  left: 28%;
  transform: rotate(180deg);
}
@media (max-width: 769px) {
  .slider-container {
    /* width: 190px; */
    max-height: 28%;
    max-width: 25%;
    top: 5%;
  }
  #greyText {
    padding-left: 20px;
  }
  .container {
    max-width: 60%;
    top: 5%;
  }
  .main-text {
    font-size: 25px;
    line-height: 30px;
    margin-right: -60px;
    z-index: 1;
    position: relative;
  }
  .author {
    font-family: "inter";
    font-size: 15px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 5px;
  }

  .rarow {
    position: absolute;
    max-width: 30%;
    padding: 10px;
    background-color: #fff;
    top: 92%;
    left: 60%;
  }
  .larow {
    position: absolute;
    max-width: 30%;
    padding: 10px;
    background-color: #fff;
    top: 92%;
    left: 28%;
    transform: rotate(180deg);
  }
  .health {
    font-family: "inter";
    color: rgba(60, 60, 67, 0.85);
    font-size: 10px;
    margin-top: 0;
  }
}
@media (max-width: 375px) {
  .slider-container {
    /* display: none; */
    top: 490px;
    right: 17px;
    height: 220px;
    width: 340px;
    max-width: none;
    left: 4%;
  }
  .man {
    max-width: 340px;
    position: absolute;
    top: -35px;
    left: 10px;
  }
  .main-text {
    font-size: 15px;
    line-height: 21px;
    color: #fff;
    margin-right: 10px;
  }
  .author {
    z-index: 1;
    position: relative;
    color: #fff;
    font-size: 12px;
  }
  .health {
    z-index: 1;
    position: relative;
    color: #fff;
  }
  #greyText {
    margin-left: 15px;
    margin-top: -30px;
  }
  .man {
    content: url("IMGS/centerWoman.jpg");
  }
}
